
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    @apply bg-slate-50;         /* light mode default */
  }

  .dark {
    @apply bg-slate-950;      /* dark mode root/background/text */
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}